---
// Props: href (string), children (slot), optional class (string)
const { href = '#', class: customClass = '', label = 'Link' } = Astro.props;
---

<a
  href={href}
  class={`focus:outline-none focus-visible:ring-2 focus-visible:ring-teal-500 transition-colors relative ${customClass} group text-teal-400`}
  aria-label={label}
  target="_blank"
>
  <span
    class="inline-block relative text-inherit before:content-[''] before:absolute before:left-0 before:-bottom-[2px] before:w-full before:h-[2px] before:bg-teal-400 before:scale-x-0 before:origin-right before:transition-transform before:duration-300 group-hover:text-teal-300 group-focus:text-teal-300 group-hover:before:scale-x-100 group-hover:before:origin-left group-focus:before:scale-x-100"
  >
    <slot />
  </span>
</a>
