@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap');
html {
	font-size: 100%;
	box-sizing: border-box; //inludes padding in the final size of element
}
* {
	font-family: 'Noto Sans SC', sans-serif;
}
//inherits box sizing property to all tags
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.3;
}
a {
	text-decoration: none;
	color: $text-color;
}
ul {
	list-style-type: none;
}
*::-webkit-scrollbar {
	width: 0.5rem; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
	background: $hover-background; /* color of the tracking area */
	border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb {
	background-color: $scrollbar-background; /* color of the scroll thumb */
	border-radius: 0.3rem;
}

html {
	background-color: $body-background-light;
}

html[data-theme='dark'] {
	background-color: $body-background-dark;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
	transition: all 750ms !important;
	transition-delay: 0 !important;
}
