$body-background-light: #f5f8fa;
$body-background-dark: #323244;

$hover-background: #ededed;
$sidebar-background: #fff;
$scrollbar-background: #9197a5;

$first-color: #6e57e0;

$title-color: #242329;
$text-color: #6d6a7c;
$text-color-light: #a19fad;
$text-color-alt: #f0eefc;
$body-color: #fbfbfe;
$body-color-alt: #8ecae6;
$container-color: #f5f8fa;
