@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans SC', sans-serif;
  line-height: 1.6;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #6d6a7c;
}

ul {
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #ededed;
  /* color of the tracking area */
  border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #9197a5;
  /* color of the scroll thumb */
  border-radius: 0.3rem;
}

html {
  background-color: #f5f8fa;
}

html[data-theme='dark'] {
  background-color: #323244;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.clearfix {
  overflow: auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 75rem;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.btn {
  border: none;
}

nav {
  margin: 0.5rem 0;
}

nav .container {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  nav .navbar-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

nav .navbar-header .navbar-toggler {
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  display: none;
  outline: none;
}

@media (max-width: 768px) {
  nav .navbar-header .navbar-toggler {
    display: block;
  }
}

nav .navbar-header .navbar-toggler span {
  height: 2px;
  width: 22px;
  background-color: #cac8d0;
  display: block;
}

nav .navbar-header .navbar-toggler span:not(:last-child) {
  margin-bottom: 0.2rem;
}

nav .navbar-header > a {
  font-weight: 500;
}

nav .navbar-header > a h4 {
  color: #3c4250;
}

nav .navbar-header > a h4 span {
  color: #6e57e0;
}

nav .navbar-header > a h4[data-theme='dark'] {
  color: #f0eefc;
}

nav .navbar-header > a h4[data-theme='dark'] span {
  color: #6e57e0;
}

nav .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav .navbar-right .navbar-menu .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: 1rem;
}

nav .navbar-right .navbar-menu .navbar-nav > li {
  margin: 1rem;
}

nav .navbar-right .navbar-menu .navbar-nav > li > a:hover {
  color: #6e57e0;
}

nav .navbar-right .navbar-menu[data-theme='dark'] .navbar-nav > li > a {
  color: #f0eefc;
}

nav .navbar-right .navbar-menu[data-theme='dark'] .navbar-nav > li > a:hover {
  color: #66f;
}

nav .navbar-right .theme-switcher {
  margin: auto 1rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url("../img/icons/moon.svg");
}

nav .navbar-right .theme-switcher[data-theme='dark'] {
  background: url("../img/icons/sun.svg");
}
/*# sourceMappingURL=style.css.map */