@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Noto Sans SC', sans-serif;
  line-height: 1.6;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #6d6a7c;
}

ul {
  list-style-type: none;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: #ededed;
  /* color of the tracking area */
  border-radius: 0.2rem;
}

*::-webkit-scrollbar-thumb {
  background-color: #9197a5;
  /* color of the scroll thumb */
  border-radius: 0.3rem;
}

html {
  background-color: #f5f8fa;
}

html[data-theme='dark'] {
  background-color: #2e2e2e;
}

html.transition,
html.transition *,
html.transition *::before,
html.transition *::after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.clearfix {
  overflow: auto;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.wrapper {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 0.9375rem;
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 75rem;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.content {
  margin-top: 0;
}

@media only screen and (min-width: 576px) {
  .content {
    margin-top: 4rem;
  }
}

.content-end {
  margin-bottom: 4rem;
}

@media only screen and (min-width: 576px) {
  .content-end {
    margin-bottom: 0;
  }
}

.btn {
  border: none;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #f5f8fa;
  height: 4rem;
}

@media only screen and (min-width: 576px) {
  nav {
    top: 0;
    left: 0;
  }
}

nav .container {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .container .navbar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .navbar-header > a {
  font-weight: 500;
}

nav .container .navbar-header > a h4 {
  color: #3c4250;
}

nav .container .navbar-header > a h4 span {
  color: #6e57e0;
}

nav .container .navbar-header > a h4[data-theme='dark'] {
  color: #f0eefc;
}

nav .container .navbar-header > a h4[data-theme='dark'] span {
  color: #6e57e0;
}

nav .container .navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .container .navbar-right .navbar-menu {
  display: none;
}

nav .container .navbar-right .navbar-menu .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav .container .navbar-right .navbar-menu .navbar-nav > li > a:hover {
  color: #6e57e0;
}

@media only screen and (min-width: 576px) {
  nav .container .navbar-right .navbar-menu {
    display: block !important;
  }
  nav .container .navbar-right .navbar-menu .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin-left: 0.5rem;
  }
  nav .container .navbar-right .navbar-menu .navbar-nav > li {
    margin: 1rem;
  }
  nav .container .navbar-right .navbar-menu .navbar-nav > li > a:hover {
    color: #6e57e0;
  }
}

nav .container .navbar-right .navbar-menu[data-theme='dark'] .navbar-nav > li > a {
  color: #f0eefc;
}

nav .container .navbar-right .navbar-menu[data-theme='dark'] .navbar-nav > li > a:hover {
  color: #66f;
}

nav .container .navbar-right .navbar-toggler {
  background: url("../img/icons/apps.svg");
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

@media only screen and (min-width: 576px) {
  nav .container .navbar-right .navbar-toggler {
    display: none;
  }
}

nav .container .navbar-right .theme-switcher {
  margin: auto 1rem;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: url("../img/icons/moon.svg");
}

nav .container .navbar-right .theme-switcher[data-theme='dark'] {
  background: url("../img/icons/sun.svg");
}

nav[data-theme='dark'] {
  background-color: #2e2e2e;
}

.secondary-nav {
  display: none;
  position: fixed;
  bottom: 3rem;
  left: 0;
  background-color: #f5f8fa;
}

.secondary-nav .secondary-nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.secondary-nav .secondary-nav-container .secondary-nav-menu .secondary-nav-nav {
  text-align: center;
  margin: 0.4rem;
}

.secondary-nav .secondary-nav-container .secondary-nav-menu .secondary-nav-nav > li > a:hover {
  color: #6e57e0;
}

.secondary-nav .secondary-nav-container .secondary-nav-menu[data-theme='dark'] .secondary-nav-nav > li > a {
  color: #f0eefc;
}

.secondary-nav .secondary-nav-container .secondary-nav-menu[data-theme='dark'] .secondary-nav-nav > li > a:hover {
  color: #66f;
}

@media only screen and (min-width: 576px) {
  .secondary-nav {
    display: none !important;
  }
}

.secondary-nav[data-theme='dark'] {
  background-color: #2e2e2e;
}

.home > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

@media only screen and (min-width: 450px) {
  .home > .container {
    height: 40rem;
  }
}

.home > .container .home-text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 15;
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home > .container .home-text .home-links .home-links-icons {
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem 2rem 1rem 0;
}

.home > .container .home-text .home-text-text {
  z-index: -999;
}

.home > .container .home-text .home-text-text .home-title {
  font-size: 2rem;
  position: relative;
  font-family: 'Source Code Pro', monospace;
}

@media only screen and (min-width: 450px) {
  .home > .container .home-text .home-text-text .home-title {
    margin: -5rem 0 1rem 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    font-size: clamp(1rem, 3rem, 4rem);
  }
  .home > .container .home-text .home-text-text .home-title::before,
  .home > .container .home-text .home-text-text .home-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .home > .container .home-text .home-text-text .home-title::before {
    background: #f5f8fa;
    -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
            animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
  }
  .home > .container .home-text .home-text-text .home-title::after {
    width: 0.125em;
    background: black;
    -webkit-animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
            animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards, blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
}

.home > .container .home-text .home-text-text .home-subtitle {
  color: #6d6a7c;
  font-size: 1rem;
  font-weight: 400;
}

.home > .container .home-text .home-text-text .subtitle-text {
  font-size: 0.85rem;
}

@media only screen and (min-width: 450px) {
  .home > .container .home-text .home-text-text .home-subtitle {
    color: #6d6a7c;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
    -webkit-animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
            animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  .home > .container .home-text .home-text-text .subtitle-text {
    font-size: 1rem;
  }
}

@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@-webkit-keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.home > .container .home-text .home-text-text[data-theme='dark'] .home-title {
  color: #6e57e0;
}

.home > .container .home-text .home-text-text[data-theme='dark'] .home-title::before {
  background: #2e2e2e;
}

.home > .container .home-text .home-text-text[data-theme='dark'] .home-title::after {
  background: #fff;
}

.home > .container .home-text .home-text-text[data-theme='dark'] .home-subtitle {
  color: #f0eefc;
}

.home > .container .home-img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.home > .container .home-img img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 1rem;
}

@media only screen and (min-width: 400px) {
  .home > .container .home-img img {
    height: 300px;
    width: 300px;
  }
}
/*# sourceMappingURL=style.css.map */