<footer class='w-full flex flex-col justify-center items-center gap-1 *:text-xxs p-6 pb-20 sm:pb-6'>
  <a
    href='https://github.com/sthasubin429/personal-website'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:text-teal-300 font-mono'
  >
    Build with Astro & TailwindCSS</a
  >
  <a
    href='https://brittanychiang.com/'
    target='_blank'
    rel='noopener noreferrer'
    class='hover:text-teal-300 font-mono'
  >
    Original Designs by Brittany Chiang
  </a>
</footer>
