---
import LinkButton from './Shared/LinkButton.astro';
---

<div class='w-full flex place-items-center px-4 md:px-8 lg:px-20 py-24 md:py-32 lg:py-44' id='contact'>
  <div class='w-full lg:w-[600px] max-w-3xl text-center mx-auto'>
    <h2 class='text-3xl md:text-4xl lg:text-5xl font-bold mb-4 text-slate-200 scroll-float-up'>Get In Touch</h2>
    <p class='text-center mb-6 scroll-float-up-delay-1'>
      Currently, looking for new opportunities in Data Analytics at <span class='text-slate-200 font-semibold cursor-pointer'>Vancouver, BC, Canada.</span> But my
      inbox is always open. Whether you have a question or just want to say hi.
    </p>

    <div class='scroll-float-up-delay-2'>
      <LinkButton
        href='mailto:subinshrestha922@gmail.com'
        text='Say Hello'
        label='Say Hello Button'
        external={true}
      />
    </div>
  </div>
</div>
