---
import IconEmail from './icons/IconEmail.astro';
import IconGithub from './icons/IconGithub.astro';
import IconLinkedin from './icons/IconLinkedin.astro';
import IconYoutube from './icons/IconYoutube.astro';
import Link from './Shared/Link.astro';
---

<main class="h-screen flex justify-start items-center">
  <div class="px-2 sm:px-4 md:px-8 lg:px-16">
    <p class="text-teal-300 font-mono">Hi, my name is</p>
    <h1 class="font-semibold m-0 text-slate-200 text-[clamp(40px,8vw,80px)]">Subin Shrestha.</h1>
    <h3 class="font-semibold m-0 text-slate-300 text-[clamp(28px,5vw,40px)]">
      Software Engineer | Data Analyst
    </h3>
    <p class="w-full lg:w-6/10 mt-4">
      I'm a data scientist with background in software development, specializing in building robust
      machine learning solutions. Currently, I'm focused on building statistical models and research
      solutions in
      <Link
        href="https://students.langara.ca/about-langara/applied-research/index.html"
        label="Applied Research Center"
      >
        Applied Research Center
      </Link> at
      <Link href="https://langara.ca" label="Langara College"> Langara College </Link>while pursuing
      my
      <Link
        href="https://langara.ca/programs-courses/data-analytics-post-degree-diploma"
        label="Post-Degree Diploma in Data Analytics"
      >
        Data Analytics diploma.
      </Link>

      <div class="flex justify-start items-center gap-6 mt-12">
        <a
          href="https://github.com/sthasubin429"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub profile of Subin Shrestha"
          title="GitHub"
          class="text-slate-400 hover:text-teal-300 transition-colors duration-350 hover:scale-120"
        >
          <IconGithub alt="GitHub icon" />
        </a>
        <a
          href="https://www.linkedin.com/in/subinsth/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="LinkedIn profile of Subin Shrestha"
          title="LinkedIn"
          class="text-slate-400 hover:text-teal-300 transition-colors duration-350 hover:scale-120"
        >
          <IconLinkedin alt="LinkedIn icon" />
        </a>
        <a
          href="mailto:subinshrestha922@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Send email to Subin Shrestha"
          title="Email"
          class="text-slate-400 hover:text-teal-300 transition-colors duration-350 hover:scale-120"
        >
          <IconEmail alt="Email icon" height="32" width="32" />
        </a>
        <a
          href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube channel of Subin Shrestha"
          title="YouTube"
          class="text-slate-400 hover:text-teal-300 transition-colors duration-350 hover:scale-120"
        >
          <IconYoutube alt="YouTube icon" height="32" width="32" />
        </a>
      </div>
    </p>
  </div>
</main>
